@use 'src/utility/style/mixin.scss' as *;

.parent {
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    position: relative;

    > .row {
        @include center-of-row;
        > div {
            box-sizing: border-box;
            padding: 5px;
            @include center-of-rectangle;
        }

        > .rowIndex {
            width: 50px;
        }

        > .rowLabel {
            width: 60%;
        }

        > .rowTotal {
            width: 10%;
        }

        > .rowNote {
            flex: 1;
        }
    }

    > .rowSelect {
        position: absolute;
        top: 0;
        left: 0;
    }

    > .rowIcon {
        position: absolute;
        top: 0;
        right: 10px;

        > svg {
            cursor: pointer;
        }
    }
}