@use 'src/utility/style/mixin.scss' as *;

.parent {
    position: relative;
    height: 50px;
    width: 200px;
    box-sizing: border-box;
    border-right: 1px solid gray;
    background-color: white;
    left: -175px;
    overflow: hidden;
    transition: left 0.3s linear, height 0.8s linear;

    &.parent_show {
        left: 0;
        height: 100vh;
    }

    > .content {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;

        > div {
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            border-bottom: 1px solid gray;
            user-select: none;
            @include center-of-rectangle;
        }

        > div:nth-child(1) {
            position: relative;

            > span {
                font-weight: 800;
            }

            > svg {
                position: absolute;
                right: 0;
                cursor: pointer;
            }
        }

        > div:not(:nth-child(1)) {
            cursor: pointer;        

            &.headerSelected {
                background-color: rgb(231, 231, 231);
            }
        }
    }
}
