@use 'src/utility/style/mixin.scss' as *;

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    @include responsive(sm) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    > .imageContainer {
        height: 500px;
        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    > .inforContainer {
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 500px;

        > .title {
            font-size: 1.2rem;
            font-weight: 600;
            @include line-clamp(2);
        }

        > .infor {
            width: 100%;

            > div {
                margin: 10px 0;
                box-sizing: border-box;
                padding: 10px;
                @include center-of-row;

                > div:nth-child(1) {
                    width: 200px;
                    font-weight: 600;
                }

                > div:nth-child(2) {
                    @include line-clamp(2);
                }
            }
        }

        > .order {
            flex: 1;
            display: flex;
            flex-direction: column;
            min-height: 100px;
            // background-color: rgb(255, 237, 237);

            > .ordertitle {
                color: white;
                font-size: 1.2rem;
                background-color: rgb(255, 52, 52);
                box-sizing: border-box;
                padding: 5px;
            } 

            > .buttonContainer {
                flex: 1;

                > div {
                    @include center-of-row;
                    justify-content: space-between;
                    background-color: white;
                    height: 100%;

                    > div {
                        height: 100%;
                        width: 50%;
                        @include center-of-rectangle;
                        // box-sizing: border-box;
                        // border: 1px solid gray;
                    }

                    > div:nth-child(1) {
                        > .amountInput {
                            @include center-of-row;

                            > div {
                                width: 50px;
                                aspect-ratio: 1 / 1;
                                @include center-of-rectangle;

                                > input {
                                    width: 100%;
                                    text-align: center;
                                    border: none;
                                    outline: none;
                                    font-size: 1.2rem;
                                }

                                > svg {
                                    cursor: pointer;
                                }
                            }

                            > div:nth-child(2) {
                                box-sizing: border-box;
                                border: 1px solid gray;
                                border-radius: 5px;
                            }
                        }
                    }

                    > div:nth-child(2) {
                        > .orderBtn {
                            background-color: red;
                            color: white;
                            box-sizing: border-box;
                            padding: 5px;
                            height: 40px;
                            width: max-content;
                            @include center-of-rectangle;
                            border-radius: 10px;
                            cursor: pointer;
                            user-select: none;
                            font-weight: 400px;
                            font-size: 1.1rem;
                            box-shadow: 10px 10px 10px rgb(255, 88, 88, 0.5);

                            &:active {
                                background-color: white;
                                color: red;
                            }
                        }
                    }
                }
            }

            > .moneyTotal {
                @include center-of-rectangle;

                > div {
                    @include center-of-row;

                    > div {
                        margin: 0 10px;
                    }

                    > div:nth-child(2) {
                        color: gray;
                        font-style: italic;
                        text-decoration: line-through;
                    }

                    > div:nth-child(3) {
                        color: blue;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}