.TextEditor-controler {
    margin: 10px 10;
    display: flex;
    align-items: center;
}

.TextEditor-controler > button {
    margin: 0 5px;
    padding: 5px;
}

.TextEditor-controler-addImage > input {
    display: none;
}

/* .blockStyleFn-align-left {
    text-align: left;
}
.blockStyleFn-align-center {
    text-align: center;
}
.blockStyleFn-align-right {
    text-align: right;
} */

[data-block="true"].blockStyleFn-align-left > .public-DraftStyleDefault-block {
  text-align: left !important;
}

[data-block="true"].blockStyleFn-align-center > .public-DraftStyleDefault-block {
  text-align: center !important;
}

[data-block="true"].blockStyleFn-align-right > .public-DraftStyleDefault-block {
  text-align: right !important;
}