@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: rgb(255, 251, 246);
    margin-top: 30px;
    box-sizing: border-box;
    padding: 30px 10px;
    border-top: 5px solid red;
    @include center-of-row;
    justify-content: space-between;
}