@use 'src/utility/style/mixin.scss' as *;

.parent {
    margin-top: 10px;

    > div {
        box-sizing: border-box;
        padding: 5px;
        cursor: pointer;
    }

    > div:nth-child(2n) {
        background-color: rgb(231, 231, 231);
    }

    > div:nth-child(2n + 1) {
        background-color: rgb(247, 247, 247);
    }
}